.idea
/legacy/llama3/llama3testing
/legacy/llama3/config.json
/legacy/llama3/config.json.alt
/legacy/SeleniumCrawler/config.json
/legacy/SeleniumCrawler/misc/__pycache__
/legacy/SeleniumCrawler/CourseInfos
/legacy/SeleniumCrawler/IsisModules/__pycache__
/legacy/SeleniumCrawler/downloaded_videos
/legacy/SeleniumCrawler/download_log.json
/legacy/transcribe/transEnv
/legacy/transcribe/transcribed
/legacy/transcribe/audio_files
/legacy/transcribe/__pycache__
/legacy/transcribe/transformation_log.json
/legacy/Graph/__pycache__
/legacy/Graph/transcripts_json
/legacy/Graph/saved_graph.pth
/legacy/Graph/node_data.json
/legacy/Graph/course_forum_data
/legacy/Graph/CourseInfosMoses
config.yaml
.venv/
__pycache__/
