.idea
/llama3/llama3testing
/llama3/config.json
/SeleniumCrawler/config.json
/SeleniumCrawler/misc/__pycache__
/SeleniumCrawler/CourseInfos
/SeleniumCrawler/IsisModules/__pycache__
/SeleniumCrawler/downloaded_videos
/SeleniumCrawler/download_log.json
/transcribe/transEnv
/transcribe/transcribed
/transcribe/audio_files
/transcribe/__pycache__
/transcribe/transformation_log.json
/Graph/__pycache__
/Graph/transcripts_json
/Graph/saved_graph.pth
/Graph/node_data.json
/Graph/course_forum_data
/Graph/CourseInfosMoses