.idea
/llama3/llama3testing
/llama3/config.json
/SeleniumCrawler/config.json
/SeleniumCrawler/CourseInfos
/SeleniumCrawler\IsisModules\__pycache__
/SeleniumCrawler/downloaded_videos
/SelenoumCrawler/download_log.json