llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-readers-file
ratings
flask
pymongo
passlib
llama_index.graph_stores.neo4j
#ollama pull nomic-embed-text
#ollama run llama3


spaces
torch==2.2.0
transformers
sentence-transformers
faiss-gpu
datasets
accelerate
bitsandbytes
numpy
